{% extends "base.html" %}
{% set active_page = "bands" %}
{% block content %}
    <h2>Bands</h2>

    <hr>

    {% for band in bands %}
        <div class="card">
            <div class="card-header">
                {{band.name}}
            </div>
            <div class="card-body">
                <h4 class="card-title">Members</h4>
                <ul>
                    <li>
                        <strong>Singer: </strong> {{band.Singer}}
                    </li>
                    <li>
                        <strong>Guitarist: </strong> {{band.Guitarist}}
                    </li>
                    <li>
                        <strong>Drummer: </strong> {{band.Drummer}}
                    </li>
                    <li>
                        <strong>Bassist: </strong> {{band.Bassist}}
                    </li>
                    <li>
                        <strong>Keyboardist: </strong> {{band.Keyboardist}}
                    </li>
                    <li>
                        <strong>Instrumentalist: </strong> {{band.Instrumentalist}}
                    </li>
                </li>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}