{% extends "base.html" %}
{% set active_page = "edit_member" %}
{% block content %}
    <h2>{{ member.firstName }} {{ member.lastName }}</h2>

    <hr>

    <h4>Generate Letters</h4>
    <div class="row">
        <div class="col-md-4">
            <form action="{{ url_for('send_email') }}" method="POST">
                <input type="hidden" name="memberId" value="{{member.memberId}}" />
                <input type="hidden" name="type" value="accepted" />
                <input type="submit" class="btn btn-success btn-block" value="Acceptance Letter" />
            </form>
        </div>
        <div class="col-md-4">
            <form action="{{ url_for('send_email') }}" method="POST">
                <input type="hidden" name="memberId" value="{{member.memberId}}" />
                <input type="hidden" name="type" value="waitlist" />
                <input type="submit" class="btn btn-secondary btn-block" value="Waitlist Letter" />
            </form>
        </div>
        <div class="col-md-4">
            <form action="{{ url_for('send_email') }}" method="POST">
                <input type="hidden" name="memberId" value="{{member.memberId}}" />
                <input type="hidden" name="type" value="rejected" />
                <input type="submit" class="btn btn-danger btn-block" value="Rejection Letter" />
            </form>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('update_member') }}" method="POST">
                <input type="hidden" name="memberId" value="{{member.memberId}}" />
                <div class="form-group">
                    <label for="inputGender">Gender</label>
                    <select class="form-control" name="gender" id="inputGender" required>
                        <option value="male" {% if member.gender=='male' %} selected="selected" {% endif %}>Male</option>
                        <option value="female" {% if member.gender=='female' %} selected="selected" {% endif %}>Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAge">Age</label>
                    <select class="form-control" name="age" id="inputAge" required>
                    {% for n in range(13,19) %}
                        <option value="{{n}}" {% if member.age==n %} selected="selected" {% endif %}>{{n}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputStreet">Street</label>
                    <input type="text" class="form-control" name="street" id="inputStreet" value="{{member.street}}" required>
                </div>
                <div class="form-group">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" name="city" id="inputCity" value="{{member.city}}" required>
                </div>
                <div class="form-group">
                    <label for="inputState">State</label>
                    <select class="form-control" name="state" id="inputState" required>
                        {% for state in states %}
                            <option value="{{state}}" {% if member.state==state %} selected="selected" {% endif %}>{{state}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputZipCode">ZIP Code</label>
                    <input type="number" class="form-control" name="zipCode" id="inputZipCode" value="{{member.zipCode}}" required>
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone Number (xxx-xxx-xxxx)</label>
                    <input type="tel" class="form-control" name="phone" id="inputPhone" value="{{member.phone}}" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                </div>
                <div class="form-group">
                    <label for="inputTalent">Talent</label>
                    <select class="form-control" name="talent" id="inputTalent" required>
                        <option value="Singer" {% if member.talent=='Singer' %} selected="selected" {% endif %}>Singer</option>
                        <option value="Guitarist" {% if member.talent=='Guitarist' %} selected="selected" {% endif %}>Guitarist</option>
                        <option value="Drummer" {% if member.talent=='Drummer' %} selected="selcted" {% endif %}>Drummer</option>
                        <option value="Bassist" {% if member.talent=='Bassist' %} selected="selected" {% endif %}>Bassist</option>
                        <option value="Keyboardist" {% if member.talent=='Keyboardist' %} selected="selected" {% endif %}>Keyboardist</option>
                        <option value="Instrumentalist" {% if member.talent=='Instrumentalist' %} selected="selected" {% endif %}>Instrumentalist</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputCohort">Cohort</label>
                    <select class="form-control" name="cohort" id="inputCohort" required>
                        <option value="first" {% if member.cohort=='first' %} selected="selected" {% endif %}>June</option>
                        <option value="second" {% if member.cohort=='second' %} selected="selected" {% endif %}>July</option>
                        <option value="third" {% if member.cohort=='third' %} selected="selected" {% endif %}>August</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select class="form-control" name="status" id="inputStatus" required>
                        <option value="Submitted" {% if member.status=='Submitted' %} selected="selected" {% endif %}>Submitted</option>
                        <option value="Pending" {% if member.status=='Pending' %} selected="selected" {% endif %}>Pending</option>
                        <option value="Accepted" {% if member.status=='Accepted' %} selected="selected" {% endif %}>Accepted</option>
                        <option value="Rejected" {% if member.status=='Rejected' %} selected="selected" {% endif %}>Rejected</option>
                        <option value="Waitlisted" {% if member.status=='Waitlisted' %} selected="selected" {% endif %}>Waitlisted</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputForms">Forms</label>
                    <select class="form-control" name="forms" id="inputForms" required>
                        <option value="False" {% if member.forms==false %} selected="selected" {% endif %}>No</option>
                        <option value="True" {% if member.form==true %} selected="selected" {% endif %}>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputPayment">Payment</label>
                    <select class="form-control" name="payment" id="inputPayment" required>
                        <option value="False" {% if member.payment==false %} selected="selected" {% endif %}>No</option>
                        <option value="True" {% if member.payment==true %} selected="selected" {% endif %}>Yes</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputComments">Comments</label>
                    <textarea class="form-control" rows="4" name="comments" id="inputComments">{{ member.comments }}</textarea>
                </div>

                <br>
        
                <a href="/members" class="btn btn-secondary">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save Member" />
            </form>
        </div>
    </div>
{% endblock %}